.container{
    margin: 30px;
}

.containerTitle{
    background-color: white;
    color: black;
    width: 400px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}


.containerBigDataBalance{
    color: black;
    background-color: white; 
    width: 20%;
    padding: 10px;
    margin: 30px auto;
}

.containerBigDataBalance div{
    background-color: green;
    width: 90%;
    margin: 0 auto;
    color: white;
    padding: 10px;
    text-align: end;
    font-weight: bold;
}

.containerChart{
    background-color: white;
    height: 500px; 
    display: flex;
}