.title{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
}

.center{
    margin: 20px auto;
    text-align: center;

}

.field{
    background-color: rgb(11, 0, 37);
    border: 1px solid white;
    width: 100%;
    height: 35px;
    color: white;
    font-weight: bold;
}

.button{
    margin: 20px auto;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    box-shadow: 0px 0px 10px white;
}