:root{
    --container-background-color: rgba(255,255,255,0);
}

.container{
    width: 80%;
    height: 100%;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--container-background-color);
}