:root{
    --header-background-color: rgb(11, 0, 37);
}

.containerHeader{
    display: flex;
    align-items: center;
    background-color: var(--header-background-color);
    width: 100%;
    height: 100px;
    margin: 0 0;
    box-shadow: 2px 2px 10px black;
    font-family: Arial, Helvetica, sans-serif;
}

.titleHeader{
    color: white;
    margin: 20px;
    font-size: 36px;
    text-shadow: 0px 0px 10px white;
}

.containerLinkMain{
    margin: 0 auto;
}

.link {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 10px white;
    text-decoration: none;
    margin: 20px;
}