:root{
  --bg-color: rgb(0, 0, 19);
}

body{
  margin: 0 0;
  padding: 0 0;
  background-color: var(--bg-color);
}

#root{
  margin: 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}